body{
    background-color:#f5cac3;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
nav{
    height: 45px;
    background-color: #f7ede2;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
}
nav a:hover{
   background-color: #f5cac3;
   padding: 10px;
}
h4{
    margin-left: 45%;
}
figure{
    margin-left: 45%;
}
h5{
    background-color: #5b5a58;
    padding: 10px;
    color: #f7ede2;
}
#contact a{
    text-decoration: none;
}